#container {
  container-type: inline-size;
  container-name: container;
}

#statusBox {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

#speechBubble {
  display: flex;
  flex: 1;
  max-width: 50rem;
}

#speechBubble:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2rem 0 0 2rem;
  border-color: transparent transparent transparent var(--bg-color-light);
  align-self: flex-end;
}

#bubbleContentBox {
  font-family: var(--font);
  font-size: 1.2rem;
  padding: 1rem 1.4rem 1rem 1.4rem;
  border-radius: 1rem 1rem 0 1rem;
  min-height: 6rem;
  min-width: 15rem;
  background-color: var(--bg-color-light);
  flex: 1;
}

#robotIcon {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  align-self: flex-end;
  overflow: visible;
}

@container (max-width: 400px) {
  #statusBox {
    flex-direction: column;
    gap: 0;
  }

  #speechBubble:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2rem 2rem 0;
    border-color: transparent var(--bg-color-light) transparent transparent;
    align-self: flex-end;
    margin-right: 3rem;
  }

  #speechBubble {
    flex-direction: column;
  }

  #bubbleContentBox {
    border-radius: 1rem;
  }
}
