:root {
  --neon-x: var(--blue);
  --neon-o: var(--pink);
  --neon-field: #ffffff33;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 100%;
  margin: auto;
}
