:root {
  --pink: hsla(311, 100%, 66%, 1);
  --blue: hsla(184, 100%, 50%, 1);
  --green: hsla(113, 100%, 54%, 1);
  --yellow: hsla(54, 100%, 50%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --text-color: var(--white);
  --bg-color: hsl(280, 50%, 8%);
  --bg-color-light: hsl(280, 50%, 16%);
  --font: "Orbitron", monospace;
}

body,
main,
#root {
  margin: 0;
  min-height: 100dvh;
  font-family: var(--font);
}

button,
input,
label,
p {
  all: unset;
}

label {
  display: block;
}

#root {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: sans-serif;
}
