/* GLOBAL VARIABLES */

:root {
  --pink: hsla(311, 100%, 66%, 1);
  --blue: hsla(184, 100%, 50%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --text-color: var(--white);
  --bg-color: hsl(280, 50%, 8%);
  --bg-color-light: hsl(280, 50%, 16%);
  --purple-glow: hsla(280, 100%, 70%, 0.2);
  --purple-glow-inner: hsla(280, 100%, 80%, 0.1);
  --purple-glow-bright: hsla(280, 100%, 90%, 0.7);
  --font-orbitron: "Orbitron", monospace;
}

/* LAYOUT */

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  margin: 0;
  width: 100vw;
  min-height: 100dvh;
}

#root {
  background-color: var(--bg-color);
  color: var(--white);
  font-family: var(--font-orbitron);
}

svg {
  display: block;
}
